Slides/*.log
Slides/*.aux
Slides/*.nav
Slides/*.out
Slides/*.snm
Slides/*.toc
Slides/*.gz
src/*.log
src/test/
Slides/meeting*/*.log
Slides/meeting*/*.aux
Slides/meeting*/*.nav
Slides/meeting*/*.out
Slides/meeting*/*.snm
Slides/meeting*/*.toc
Slides/meeting*/*.gz
src/models/
src/*.pyc
src/utils/*.pyc
src/classifier/*.pyc
src/classifier/__pycache__/
src/ml_lyrics/
